*{
    background-color: rgb(34, 34, 34);
    color: honeydew;
    font: 16px "Noto Sans JP";
}
body{
    background-color: rgb(34, 34, 34);
    font: 16px "Noto Sans JP";
}
pre{
    color: honeydew;
    font: 16px "Noto Sans JP";
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline;
}
a{
    text-decoration: none;
}